#horizontal {
  height: 2px;
  border-width: 2px;
  max-width: 180px;
  margin-left: 50px;
}
#servicesheading {
  margin-left: 15px;
  margin-top: 20px;
  margin-right: 10px;
}

.nav-link {
  float: right !important;
}

#my-nav {
  float: right;
}
#sliderimage {
  height: 500px;
  width: 800px;
  margin-left: 275px;
  margin-right: 200px;
}
#content {
  width: 250px;
  height: 270px;
}
* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.flex-item {
  background-color: white;
  padding: 15px;
  margin-left: 115px;
  width: 900px;
}
#home {
  background-color: #dcdcdc;
}
#graphictitle {
  margin-left: 65px;
  margin-top: 45px;
  font-size: 70px;
}
#graphicservices {
  margin-left: 115px;
}
#graphicshorizontal {
  height: 2px;
  border-width: 2px;
  max-width: 180px;
  margin-left: 50px;
  margin-left: 115px;
}
.footer-container {
  display: flex;
  margin-left: 115px;
}

.footer-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 500px;
  height: 300px;
}
#insta {
  margin-left: 70px !important;
}

@media screen and (max-width: 600px) {
  .myimg {
    height: 1000px;
    width: 900px;
    border: 8px solid black;
  }

  .newcon {
    height: 700px;
    width: 700px;
  }

  #mycon {
    height: 1000px;
    width: 900px;
    border: 8px solid black;
  }

  .dollarsign {
    color: white;
  }
  #sliderimage {
    height: 290px;
    width: 411px;
    margin-left: 0px;
    margin-right: 200px;
  }
  .flex-container {
    flex-direction: column;
  }
  #btn {
    margin-top: 10px;
    margin-left: 2px !important;
  }
  ul,
  li,
  a {
    float: right;
    padding: 2px;
  }
  #servicesheading {
    margin-left: 36px;
    margin-top: 12px;
  }
  #myheading {
    float: left;
  }
  #content {
    height: 250px;
  }
}
