.nav-link {
  float: right !important;
}

#my-nav {
  float: right;
}
#carimage {
  height: 500px;
  width: 800px;
  margin-left: 350px;
  margin-right: 200px;
}
#content {
  height: 290px;
}
* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 18px;
}

.flex-item {
  background-color: white;
  padding: 15px;
}

@media screen and (max-width: 600px) {
  .myimg {
    height: 1000px;
    width: 900px;
    border: 8px solid black;
  }

  .newcon {
    height: 700px;
    width: 700px;
  }

  #mycon {
    height: 1000px;
    width: 900px;
    border: 8px solid black;
  }

  .dollarsign {
    color: white;
  }
  #carimage {
    height: 290px;
    width: 411px;
    margin-left: 0px;
    margin-right: 200px;
  }
  .flex-container {
    flex-direction: column;
  }
  #btn {
    margin-top: 10px;
    margin-left: 2px !important;
  }
  ul,
  li,
  a {
    float: right;
    padding: 2px;
  }
}
